%table.table.table-condensed
  %tr
    %td Sent
    %td
      = link_to emails_path do
        %span.badge.pull-right= stats[:total]
  %tr
    %td Delivered
    %td 
      = link_to emails_path(status: "delivered") do
        %span.badge.badge-success.pull-right= stats[:delivered]
  %tr
    %td Soft bounces
    %td
      = link_to emails_path(status: "soft_bounce") do
        %span.badge.badge-warning.pull-right= stats[:soft_bounce]
  %tr
    %td Hard bounces
    %td
      = link_to emails_path(status: "hard_bounce") do
        %span.badge.badge-important.pull-right= stats[:hard_bounce]
