%h3 Today
%table.table.table-condensed
  %tr
    %td Sent
    %td
      = link_to emails_path do
        %span.badge.pull-right= Email.stats[:today][:total]
  %tr
    %td Delivered
    %td 
      = link_to emails_path(status: "delivered") do
        %span.badge.badge-success.pull-right= Email.stats[:today][:delivered]
  %tr
    %td Soft bounces
    %td
      = link_to emails_path(status: "soft_bounce") do
        %span.badge.badge-warning.pull-right= Email.stats[:today][:soft_bounce]
  %tr
    %td Hard bounces
    %td
      = link_to emails_path(status: "hard_bounce") do
        %span.badge.badge-important.pull-right= Email.stats[:today][:hard_bounce]

%h3 Last 7 days
%table.table.table-condensed
  %tr
    %td Sent
    %td
      = link_to emails_path do
        %span.badge.pull-right= Email.stats[:this_week][:total]
  %tr
    %td Delivered
    %td 
      = link_to emails_path(status: "delivered") do
        %span.badge.badge-success.pull-right= Email.stats[:this_week][:delivered]
  %tr
    %td Soft bounces
    %td
      = link_to emails_path(status: "soft_bounce") do
        %span.badge.badge-warning.pull-right= Email.stats[:this_week][:soft_bounce]
  %tr
    %td Hard bounces
    %td
      = link_to emails_path(status: "hard_bounce") do
        %span.badge.badge-important.pull-right= Email.stats[:this_week][:hard_bounce]
