%table.table.table-condensed
  %tbody(data-provides="rowlink")
    %tr
      %td Created
      %td
        - unless loading
          = link_to_if_block link, deliveries_path do
            %span.pull-right{class: ["badge"]}= stats.total_count
    %tr
      %td Delivered
      %td
        - unless loading
          = link_to_if_block link, deliveries_path(status: "delivered") do
            %span.pull-right{class: badge_class("delivered")}= stats.delivered_count
    %tr
      %td Soft bounces
      %td
        - unless loading
          = link_to_if_block link, deliveries_path(status: "soft_bounce") do
            %span.pull-right{class: badge_class("soft_bounce")}= stats.soft_bounce_count
    %tr
      %td Hard bounces
      %td
        - unless loading
          = link_to_if_block link, deliveries_path(status: "hard_bounce") do
            %span.pull-right{class: badge_class("hard_bounce")}= stats.hard_bounce_count
    %tr
      %td Held back
      %td
        - unless loading
          = link_to_if_block link, deliveries_path(status: "not_sent") do
            %span.pull-right{class: badge_class("not_sent")}= stats.not_sent_count

%table.table.table-condensed
  %tr
    %td Open rate
    %td
      %span.pull-right
        - unless loading
          - if stats.open_rate
            = "%0.0f%%" % (100.0 * stats.open_rate)
          - else
            n/a
  %tr
    %td Click rate
    %td
      %span.pull-right
        - unless loading
          - if stats.click_rate
            = "%0.0f%%" % (100.0 * stats.click_rate)
          - else
            n/a
