%h3 Today
%table.table.table-condensed
  %tr
    %td Sent
    %td
      %span.badge= Email.sent_today.count
  %tr
    %td Delivered
    %td 
      %span.badge.badge-success= Email.delivered_today.count
  %tr
    %td Soft bounces
    %td
      %span.badge.badge-warning= Email.soft_bounces_today.count
  %tr
    %td Hard bounces
    %td
      %span.badge.badge-warning= Email.hard_bounces_today.count

%h3 Last 7 days
%table.table.table-condensed
  %tr
    %td Sent
    %td
      %span.badge= Email.sent_this_week.count
  %tr
    %td Delivered
    %td 
      %span.badge.badge-success= Email.delivered_this_week.count
  %tr
    %td Soft bounces
    %td
      %span.badge.badge-warning= Email.soft_bounces_this_week.count
  %tr
    %td Hard bounces
    %td
      %span.badge.badge-warning= Email.hard_bounces_this_week.count
