%h2 Send invitation

= form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post} do |f|
  = devise_error_messages!

  - resource.class.invite_key_fields.each do |field|
    .control-group
      = f.label field
      = f.text_field field, placeholder: "Email"

  = f.submit "Send an invitation", class: "btn btn-primary"

%h3 Other administrators

%table.table
  - Admin.where("id != ?", current_admin.id).each do |admin|
    %tbody
      %tr
        %td= admin_gravatar(admin)
        %td= admin.email
        %td
          - if admin.invitation_accepted_at
            For
            = time_ago_in_words(admin.invitation_accepted_at)
          - else
            Invited
            = time_ago_in_words(admin.invitation_created_at)
            ago
