%tr
  %td= admin_gravatar(admin)
  %td
    = admin.display_name
    - if admin.current_admin
      (You)
  %td
    - if admin.invitation_accepted_at
      For
      = time_ago_in_words(admin.invitation_accepted_at)
    - elsif admin.invitation_created_at
      Invited
      = time_ago_in_words(admin.invitation_created_at)
      ago
  %td
    - if admin.permissions.destroy
      = button_to "Remove", admin_path(admin.id), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"
