.page-header
  %h1 Administrators

%table.table
  - @admins.each do |admin|
    %tbody
      %tr
        %td= admin_gravatar(admin)
        %td
          = admin.email
          - if admin == current_admin
            (You)
        %td
          - if admin.invitation_accepted_at
            For
            = time_ago_in_words(admin.invitation_accepted_at)
          - elsif admin.invitation_created_at
            Invited
            = time_ago_in_words(admin.invitation_created_at)
            ago

%h2 Invite a new administrator

= form_for @admin, url: invitation_path(@admin), html: {method: :post} do |f|
  .control-group
    = f.label :email
    = f.text_field :email, placeholder: "Email"

  = f.submit "Send an invitation", class: "btn btn-primary"
