= link_to "https://github.com/mlandauer/cuttlefish" do
  %img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub")

%p= link_to "Sign in", new_admin_session_path

.hero-unit
  = image_tag "cuttlefish.png", alt: "Welcome to Cuttlefish", width: 200, height: 120
  %h1.brand
    Cuttlefish
    %small Lovely Transactional Email

  %p Easy to setup, easy to use and open source

  %p
    = link_to "https://github.com/mlandauer/cuttlefish", class: "btn btn-primary btn-large" do
      %i.icon-download-alt
      Download

%p
  Sending a few emails from your app is easy. Sending lots becomes painful. There are so many hidden gotchas. Do your emails get delivered? Are you being considered a spammer? What about all those bounced emails?

%p Let's make sending lots of emails fun again!

%p And without the hidden dangers of vendor lock in of commercial transactional email services.

.row
  .span4
    %h4 Easy to use
    %p Send email from your application using smtp in the usual way and get all sorts of added benefits for no effort. A lovely web UI to browse what's happening.
    %h4 Flexible
    %p Works with any web framework and language
    %h4 Secure
    %p Multiple applications can each have their own SMTP authentication
  .span4
    %h4 Real time analytics
    %p Monitor in real time which emails arrive at their destination and which bounce. Track which emails are opened and which links are clicked. Statistics on emails sent, soft/hard bounced and held back
    %h4 Reliable
    %p Under the hood Postfix, which you know and trust, handles email delivery.
    %h4 Open source
    %p Take complete control of your destiny. No vendor lock in.
  .span4
    %h4 Ensures delivery
    %p Makes sure those emails arrive at their destinations. Automatically not send emails to destinations that have hard bounced in the past. Check your IP reputation with one click
    %h4 Easy to install
    %p Get going quickly
    
%p
  Cuttlefish is in beta. It's been used in production on one of
  #{link_to "OpenAustralia Foundation", "http://www.openaustraliafoundation.org.au"}'s project for two months and has sent 150,000 emails.

%h4 Screenshots

= image_tag "https://raw.github.com/mlandauer/cuttlefish/master/app/assets/images/screenshots/1.png"
= image_tag "https://raw.github.com/mlandauer/cuttlefish/master/app/assets/images/screenshots/2.png"
= image_tag "https://raw.github.com/mlandauer/cuttlefish/master/app/assets/images/screenshots/3.png"

%h4 Things on the cards

%ul
  %li REST API for deep integration with your application
  %li Web callbacks on succesful delivery, hard bounces, open and click events
  %li DKIM signing
  %li "out of office" and bounce reply filtering
  %li Incoming email

-# Link to github, my contact details, footer, etc..
