= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  %h2 You're special!
  %p
    As the <strong>first admin</strong> of Cuttlefish you get to create your own account. After this,
    only admins can invite new admins.

  .control-group
    = f.label :email
    = f.email_field :email, class: "login-field", placeholder: "Enter your email"
    %span.login-field-icon.fui-man-16

  .control-group
    = f.label :password
    = f.password_field :password, class: "login-field", placeholder: "Password"
    %span.login-field-icon.fui-lock-16

  = f.submit "Sign up", class: "btn btn-primary btn-large btn-block"
