%table.table.table-condensed
  %thead
    %tr
      %th Time
      %th Link
      %th User agent
      %th Referer
      %th IP
      %th Client
      %th OS
  %tbody
    - delivery.click_events.each do |event|
      %tr
        %td
          = time_ago_in_words(event.created_at)
          ago
        %td= link_to event.url
        %td= event.user_agent
        %td= event.referer
        %td= event.ip
        %td
          = event.ua_family
          - if event.ua_version
            %span.muted (#{event.ua_version})
        %td
          = event.os_family
          - if event.os_version
            %span.muted (#{event.os_version})
