= link_to delivery.address.text, to_address_path(delivery.address)
%span{class: label_class(delivery.status)}
  = link_to status_name(delivery.status), "#log-#{delivery.id}", "data-toggle" => "collapse"
- if delivery.opened?
  %span.label.label-success
    = link_to "Opened", "#open-#{delivery.id}", "data-toggle" => "collapse"
- if delivery.clicked?
  %span.label.label-success
    = link_to "Clicked", "#clicked-#{delivery.id}", "data-toggle" => "collapse"
      
- unless delivery.postfix_log_lines.empty?
  .collapse{id: "log-#{delivery.id}"}
    = render partial: "postfix_log_lines", locals: {delivery: delivery}
- if delivery.opened?
  .collapse{id: "open-#{delivery.id}"}
    = render partial: "open_events", locals: {delivery: delivery}
- if delivery.clicked?
  .collapse{id: "clicked-#{delivery.id}"}
    = render partial: "link_events", locals: {delivery: delivery}
