= link_to delivery.address.text, address_path(delivery.address)
= link_to "#log-#{delivery.id}", "data-toggle" => "collapse" do
  = delivered_label(delivery.status)
- unless delivery.open_events.empty?
  = link_to "#open-#{delivery.id}", "data-toggle" => "collapse" do
    %span.label.label-success Opened
- unless delivery.postfix_log_lines.empty?
  .collapse{id: "log-#{delivery.id}"}
    %table.table.table-condensed
      %thead
        %tr
          %th Time
          %th DSN
          %th Status
      %tbody
        - delivery.postfix_log_lines.each do |line|
          %tr
            %td
              = time_ago_in_words(line.time)
              ago
            %td= line.dsn
            %td.status= line.extended_status
- unless delivery.open_events.empty?
  .collapse{id: "open-#{delivery.id}"}
    %table.table.table-condensed
      %thead
        %tr
          %th Time
          %th User agent
          %th Referer
          %th Client
          %th OS
      %tbody
        - delivery.open_events.each do |event|
          %tr
            %td
              = time_ago_in_words(event.created_at)
              ago
            %td= event.user_agent
            %td= event.referer
            %td
              = link_to event.ua_family, event.ua_url
            %td
              = link_to event.os_family, event.os_url