%table.table.table-condensed
  %thead
    %tr
      %th Time
      %th Client
      %th OS
      %th IP
      %th Country
      %th Region
      %th City
      %th
        %abbr{title: "Internet Service Provider"} ISP
      %th Org
  %tbody
    - delivery.open_events.each do |event|
      %tr
        %td
          = time_ago_in_words(event.created_at)
          ago
        %td
          = event.user_agent.family
          - if event.user_agent.version
            %span.muted (#{event.user_agent.version})
        %td
          = event.os.family
          - if event.os.version
            %span.muted (#{event.os.version})
        %td= event.ip.address
        %td= event.ip.info.country
        %td= event.ip.info.region_name
        %td= event.ip.info.city
        %td= event.ip.info.isp
        %td= event.ip.info.org
