.page-header
  %h1 Recent emails

.btn-group
  %button.btn.dropdown-toggle(data-toggle="dropdown")
    - if @app.nil?
      All Apps
    - else
      = @app.name
    %span.caret
  %ul.dropdown-menu
    %li= link_to "All Apps", deliveries_path
    - App.all.each do |app|
      %li= link_to app.name, canonical_deliveries_path(app, @status)

.btn-group
  %button.btn.dropdown-toggle(data-toggle="dropdown")
    - if @status.nil?
      All Statuses
    - elsif @status == "not_sent"
      Held back
    - elsif @status == "sent"
      Sent
    - elsif @status == "delivered"
      Delivered
    - elsif @status == "soft_bounce"
      Soft bounces
    - elsif @status == "hard_bounce"
      Hard bounces
    %span.caret
  %ul.dropdown-menu
    %li= link_to "All Statuses", canonical_deliveries_path(@app, nil)
    %li= link_to "Held back", canonical_deliveries_path(@app, "not_sent")
    %li= link_to "Sent", canonical_deliveries_path(@app, "sent")
    %li= link_to "Delivered", canonical_deliveries_path(@app, "delivered")
    %li= link_to "Soft bounces", canonical_deliveries_path(@app, "soft_bounce")
    %li= link_to "Hard bounces", canonical_deliveries_path(@app, "hard_bounce")

= render :partial => "to", locals: {deliveries: @deliveries}
