%table
  - if App.normal_apps?
    %tr
      %td
        %strong App
      %td= link_to @delivery.app_name, @delivery.app
  %tr
    %td
      %strong From
    %td= link_to @delivery.from, from_address_path(@delivery.from_address)
  %tr
    %td
      %strong To
    %td
      = link_to @delivery.address.text, to_address_path(@delivery.address)
      %span{class: label_class(@delivery.status)}
        = link_to status_name(@delivery.status), "#log-#{@delivery.id}", "data-toggle" => "collapse"
      - if @delivery.opened?
        %span.label.label-success
          = link_to "Opened", "#open-#{@delivery.id}", "data-toggle" => "collapse"
      - if @delivery.clicked?
        %span.label.label-success
          = link_to "Clicked", "#clicked-#{@delivery.id}", "data-toggle" => "collapse"
            
      - unless @delivery.postfix_log_lines.empty?
        .collapse{id: "log-#{@delivery.id}"}
          = render partial: "postfix_log_lines", locals: {delivery: @delivery}
      - if @delivery.opened?
        .collapse{id: "open-#{@delivery.id}"}
          = render partial: "open_events", locals: {delivery: @delivery}
      - if @delivery.clicked?
        .collapse{id: "clicked-#{@delivery.id}"}
          = render partial: "link_events", locals: {delivery: @delivery}


  %tr
    %td
      %strong Created
    %td
      = time_ago_in_words(@delivery.created_at)
      ago (#{@delivery.created_at})

%hr
- if @delivery.data.nil?
  %p
    %em
      Full text of email is not available.
      = link_to "Why?", "#why_help", "data-toggle" => "collapse"
  %p#why_help.collapse
    The full text of only the most recent #{EmailDataCache.max_no_emails_to_store_data} emails is stored. Keeping things around for ever is not good for privacy or disk space. It still gives
    you room to look at recent emails to figure our any problems if you need to.

- else
  %ul.nav.nav-pills
    - if @delivery.html_part && @delivery.text_part
      %li.active= link_to "HTML", "#html", data: {toggle: "pill"}
      %li= link_to "Text", "#text", data: {toggle: "pill"}
    - elsif @delivery.html_part
      %li.active= link_to "HTML", "#html", data: {toggle: "pill"}
    - else
      %li.active= link_to "Text", "#text", data: {toggle: "pill"}
    %li= link_to "Source", "#source", data: {toggle: "pill"}

  .tab-content
    - if @delivery.html_part && @delivery.text_part
      %div.tab-pane.active#html
        .well= @delivery.html_part.html_safe
      %div.tab-pane#text
        %pre= @delivery.text_part
    - elsif @delivery.html_part
      %div.tab-pane.active#html
        .well= @delivery.html_part.html_safe
    - else
      %div.tab-pane.active#text
        %pre= @delivery.text_part
    %div.tab-pane#source
      %pre= @delivery.data

.form-actions
  = link_to t('.back', default: t("helpers.links.back")), deliveries_path, class: 'btn'
