.page-header
  %h1= @delivery.subject

%p
  - if @delivery.ignore_blocked_addresses
    %span.label.label-warning Ignore Deny List
  %span{class: label_class(@delivery.status)}
    = status_name(@delivery.status)
  - if @delivery.opened?
    %span.label.label-success Opened
  - if @delivery.clicked?
    %span.label.label-success Clicked

%table#email-headers
  %tr
    %td.key
      %strong App
    %td= link_to @delivery.app.name, app_path(@delivery.app.id)
  %tr
    %td.key
      %strong From
    %td= link_to @delivery.from, from_address_path(@delivery.from)
  %tr
    %td.key
      %strong To
    %td
      = link_to @delivery.to, to_address_path(@delivery.to)
  %tr
    %td.key
      %strong Subject
    %td= @delivery.subject

  %tr
    %td.key
      %strong
        Created
    %td
      = time_ago_in_words(@delivery.created_at)
      ago (#{@delivery.created_at.to_formatted_s(:long)  })
  - if @delivery.status == "delivered" || @delivery.status == "soft_bounce" || @delivery.status == "hard_bounce"
    %tr
      %td.key
        %strong
          = status_name(@delivery.status)
      %td
        = link_to "#log", "data-toggle" => "collapse" do
          = distance_of_time_in_words(@delivery.created_at, @delivery.delivery_events.first.time, include_seconds: true)
          after being sent
          %i.fa.fa-plus-square
        .collapse{id: "log"}
          = render partial: "postfix_log_lines", locals: {delivery: @delivery}
  - if @delivery.opened?
    %tr
      %td.key
        %strong
          - if @delivery.open_events.count == 1
            Opened
          - else
            First opened
      %td
        = link_to "#opened", "data-toggle" => "collapse" do
          = distance_of_time_in_words(@delivery.created_at, @delivery.open_events.first.created_at, include_seconds: true)
          after being sent
          %i.fa.fa-plus-square
        .collapse{id: "opened"}
          = render partial: "open_events", locals: {delivery: @delivery}
  - if @delivery.clicked?
    %tr
      %td.key
        %strong
          - if @delivery.click_events.count == 1
            Clicked
          - else
            First clicked
      %td
        = link_to "#clicked", "data-toggle" => "collapse" do
          = distance_of_time_in_words(@delivery.created_at, @delivery.click_events.first.created_at, include_seconds: true)
          after being sent
          %i.fa.fa-plus-square
        .collapse{id: "clicked"}
          = render partial: "click_events", locals: {delivery: @delivery}
  - unless @delivery.meta_values.empty?
    %tr
      %td.key
        %strong
          Metadata
      %td
        - @delivery.meta_values.each do |meta_value|
          %div
            = link_to meta_value.key, deliveries_path(key: meta_value.key)
            = meta_value.value

%hr
- unless @delivery.content?
  %p
    %em
      Full text of email is not available.
      = link_to "Why?", "#why_help", "data-toggle" => "collapse"
  %p#why_help.collapse
    The full text of only the most recent #{@configuration.max_no_emails_to_store} emails for each app are stored. Keeping things around for ever is not good for privacy or disk space. It still gives
    you room to look at recent emails to figure our any problems if you need to.

- else
  %ul.nav.nav-pills
    - if @delivery.content.html && @delivery.content.text
      %li.active= link_to "HTML", "#html", data: {toggle: "pill"}
      %li= link_to "Text", "#text", data: {toggle: "pill"}
    - elsif @delivery.content.html
      %li.active= link_to "HTML", "#html", data: {toggle: "pill"}
    - else
      %li.active= link_to "Text", "#text", data: {toggle: "pill"}
    %li= link_to "Source", "#source", data: {toggle: "pill"}

  .tab-content
    - if @delivery.content.html && @delivery.content.text
      %div.tab-pane.active#html
        .well= clean_html_email_for_display(@delivery.content.html)
      %div.tab-pane#text
        %pre= @delivery.content.text
    - elsif @delivery.content.html
      %div.tab-pane.active#html
        .well= clean_html_email_for_display(@delivery.content.html)
    - else
      %div.tab-pane.active#text
        %pre= @delivery.content.text
    %div.tab-pane#source
      %pre= @delivery.content.source

    %p.muted
      This shows the original email as sent by you to Cuttlefish

.form-actions
  = link_to t('.back', default: t("helpers.links.back")), deliveries_path, class: 'btn'
