.row
  .span3
    .login-icon
      <img src="/assets/login/icon.png" alt="Welcome to Mail App">
      <h4>Welcome to <small>Cuttlefish</small></h4>

  .span6
    .login-form
      = bootstrap_flash
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .control-group
          = f.label :email
          = f.email_field :email, class: "login-field", placeholder: "Enter your email"
          %span.login-field-icon.fui-man-16

        .control-group
          = f.label :password
          = f.password_field :password, class: "login-field", placeholder: "Password"
          %span.login-field-icon.fui-lock-16

        = f.submit "Login", class: "btn btn-primary btn-large btn-block"
      = render :partial => "devise/shared/links"
