.page-header
  %h1 Documentation

%h2 How to send mail via Cuttlefish

- if App.all.empty?
  %p
    Before you can send email via Cuttlefish you will need to #{link_to "create an App", new_app_path}. Each App has its
    own settings and usually relates to one application from which you're sending the emails.

- else
  %p
    Simple send normal smtp email, with each App having its own authentication details.

  .tabbale
    %ul.nav.nav-tabs
      - App.where(default_app: false).each do |app|
        %li{class: ("active" if app == @active_app)}
          = link_to app.name, "#app-#{app.id}", "data-toggle" => "tab"
    .tab-content
      - App.where(default_app: false).each do |app|
        .tab-pane{id: "app-#{app.id}", class: ("active" if app == @active_app)}
          = render partial: "general", locals: {app: app}
          = render partial: "rails", locals: {app: app}
          = render "other"
