.page-header
  %h1 Documentation

%h2 How to send mail via Cuttlefish

- if App.normal_apps?
  %p
    Simple send normal smtp email, with each App having its own authentication details.

  .tabbale
    %ul.nav.nav-tabs
      - App.where(default_app: false).each do |app|
        %li{class: ("active" if app == @active_app)}
          = link_to app.name, "#app-#{app.id}", "data-toggle" => "tab"
    .tab-content
      - App.where(default_app: false).each do |app|
        .tab-pane{id: "app-#{app.id}", class: ("active" if app == @active_app)}
          = render partial: "general", locals: {app: app}
          = render partial: "rails", locals: {app: app}
          = render "other"

- else
  = render partial: "general", locals: {app: nil}
  = render partial: "rails", locals: {app: nil}
  = render "other"
