.page-header
  %h1 Addresses

.btn-group
  %button.btn.dropdown-toggle(data-toggle="dropdown")
    - if @status.nil?
      All
    - elsif @status == "from"
      Sent from
    - elsif @status == "to"
      Sent to
    %span.caret
  %ul.dropdown-menu
    %li= link_to "All", addresses_path
    %li= link_to "Sent from", addresses_path(status: "from")
    %li= link_to "Sent to", addresses_path(status: "to")

= paginated_section(@emails, inner_window: 2, outer_window: 0, previous_label: image_tag("pager/previous.png"), next_label: image_tag("pager/next.png"), renderer: BootstrapLinkRenderer, :class => "pagination pagination-small")  do
  %table.table.table-striped
    %thead
      %tr
        %th Email
        %th Sent from
        %th Sent to
        %th Most recently
    %tbody(data-provides="rowlink")
      - @addresses.each do |address|
        %tr
          %td= link_to address.text, address
          %td
            - if address.emails_sent.count > 0
              = address.emails_sent.count
          %td
            - if address.emails_received.count > 0
              = address.emails_received.count
          %td= delivered_label(address.status)
