.page-header
  %h3= @address.text

- if @address.emails_received.count > 0
  %p
    = pluralize(@address.emails_received.count, "email")
    sent to this address, most recently
    = time_ago_in_words(@address.time_last_received)
    ago.
  %p
    Delivered: 
    = @address.emails_received.where(status: "delivered").count
  %p
    Soft bounces:
    = @address.emails_received.where(status: "soft_bounce").count
  %p
    Hard bounces:
    = @address.emails_received.where(status: "hard_bounce").count

- if @address.emails_sent.count > 0
  %p
    = @address.emails_sent.count
    emails sent from this address, most recently
    = time_ago_in_words(@address.time_last_sent)
    ago.
  %p
    Delivered: 
    = @address.emails_sent.where(status: "delivered").count
  %p
    Soft bounces:
    = @address.emails_sent.where(status: "soft_bounce").count
  %p
    Hard bounces:
    = @address.emails_sent.where(status: "hard_bounce").count

= paginated_section @emails do
  %table.table.table-striped
    %thead
      %tr
        %th Sent / Received
        %th Created
    %tbody(data-provides="rowlink")
      - @emails.each do |email|
        %tr{class: delivered_class(email.status)}
          %td
            - if email.to_addresses.include?(@address) && email.from_address == @address
              Both
            - elsif email.to_addresses.include?(@address)
              Received
            - elsif email.from_address == @address
              Sent
            - else
              - raise "Unexpected"
          %td
            = link_to email_path(email), :class => "rowlink" do
              = time_ago_in_words(email.created_at)
              ago
