.page-header
  %h1
    Emails sent to
    = @address.text

- if @address.deny_listed?(current_admin.team)
  %h2
    = @address.text
    is on the deny list
  %p
    - if @address.deny_list(current_admin.team).caused_by_postfix_log_line
      Reason:
      = link_to truncate(@address.deny_list(current_admin.team).caused_by_postfix_log_line.extended_status, length: 160), @address.deny_list(current_admin.team).caused_by_delivery
      = time_ago_in_words(@address.deny_list(current_admin.team).caused_by_postfix_log_line.created_at)
      ago
    - else
      We don't know why this was deny listed. The delivery that caused it may have been archived.

  - if policy(@address.deny_list(current_admin.team)).destroy?
    = button_to "Remove from deny list", @address.deny_list(current_admin.team), method: :delete, class: "btn btn-danger"

.row
  .span3
    %p
      = link_to from_address_path(@address.text) do
        Switch to emails sent
        %strong from
        this address
    = render "main/status_counts_period", stats: @stats, link: false, loading: false

= render partial: "deliveries/from", locals: {deliveries: @deliveries}
