.page-header
  %h3
    Emails sent to
    = @address.text

= render "main/status_counts_period", stats: @address.emails_received.group(:status).count

= paginated_section(@emails, previous_label: image_tag("pager/previous.png"), next_label: image_tag("pager/next.png"), renderer: BootstrapLinkRenderer, class: "pagination pagination-centered pagination-small") do
  %table.table.table-striped
    %thead
      %tr
        %th From
        %th Created
    %tbody(data-provides="rowlink")
      - @emails.each do |email|
        %tr
          %td= email.from
          %td
            = link_to email_path(email), class: "rowlink" do
              = time_ago_in_words(email.created_at)
              ago
          %td= delivered_label(email.status)
