.page-header
  %h1
    Emails sent to
    = @to

- unless @deny_lists.empty?
  %h2
    = @to
    is on the deny list
  - @deny_lists.each do |deny_list|
    %p
      - if deny_list.because_of_delivery_event
        Reason:
        = link_to truncate(deny_list.because_of_delivery_event.extended_status, length: 160), delivery_path(deny_list.because_of_delivery_event.email.id)
        = time_ago_in_words(deny_list.because_of_delivery_event.time)
        ago
      - else
        We don't know why this was deny listed. The delivery that caused it may have been archived.

    - if deny_list.permissions.destroy
      = button_to "Remove from deny list", deny_list_path(deny_list.id), method: :delete, class: "btn btn-danger"

.row
  .span3
    %p
      = link_to from_address_path(@to) do
        Switch to emails sent
        %strong from
        this address
    = render "main/status_counts_period", stats: @stats, link: false, loading: false

= render partial: "deliveries/from", locals: {deliveries: @deliveries}
