.page-header
  %h1 Transparently send mail from your own domain
  %p
    In
    = link_to "Google Mail", "https://gmail.com"
    get rid of "via #{Rails.configuration.cuttlefish_domain}" when viewing
    email sent from your own domain by giving Cuttlefish permission to send email on your behalf.

- if @app.from_domain.present?
  - if @dkim_dns.dkim_dns_configured?
    %p Your DNS looks to be correctly configured.
    = button_to (@app.dkim_enabled ? "Disable DKIM" : "Enable DKIM"), toggle_dkim_app_path(@app), class: "btn btn-primary"
  - else
    = render 'setting_up_your_dns', provider: @provider, dkim_dns: @dkim_dns

%h2 Domain

= semantic_form_for @app, html: {class: "form-horizontal"} do |f|
  = f.semantic_errors
  = f.input :from_domain, label: "Email from domain", placeholder: "angelfishsocute.com", hint: "Domain that all emails in this app will be sent from"
  = f.actions do
    = f.action :submit, label: "Update domain"
