.page-header
  %h1 New App

= semantic_form_for @app, as: :app, url: apps_path, html: {class: "form-horizontal"} do |f|
  = f.semantic_errors
  = f.inputs "Basic" do
    = f.input :name, placeholder: "Angelfish", input_html: {class: "span6"}
  = f.inputs "Tracking" do
    = f.input :click_tracking_enabled, as: :boolean, hint: "Rewrite all the links in html emails so that you can find out when users click them"
    = f.input :open_tracking_enabled, as: :boolean, hint: "Adds a small transparent image to the end of html emails so that you can find out when an email is opened"
    = f.input :custom_tracking_domain, placeholder: "email.angelfishsocute.com", hint: "Leave blank if you want to use default domain (#{Rails.configuration.cuttlefish_domain}) for open and link tracking. You can set this later too."
  = f.actions do
    = f.action :submit, label: "Create App"
