.page-header
  %h1= @app.name

%ul
  %li= link_to "Emails sent via this app", app_deliveries_path(@app)
  %li= link_to "How to send mail via Cuttlefish for #{@app.name}", documentation_path(anchor: "app-#{@app.id}")

%h2 Settings
%p
  Name:
  = @app.name
%p
  URL:
  - if @app.url.blank?
    %span.muted Not set
  - else
    = link_to @app.url, @app.url
%p
  Email from domain:
  - if @app.from_domain.blank?
    %span.muted Not set
  - else
    = @app.from_domain
%p
  Click tracking:
  - if @app.click_tracking_enabled?
    Enabled
  - else
    Disabled
%p
  Open tracking:
  - if @app.open_tracking_enabled?
    Enabled
  - else
    Disabled
%p
  Custom tracking domain:
  - if @app.custom_tracking_domain.blank?
    %span.muted Not set
  - else
    = @app.custom_tracking_domain

%p= link_to "Edit", edit_app_path(@app)

%hr
%h3 Improve delivery
%p
  DomainKeys Identified Mail (DKIM) improves the delivery of your emails by automatically cryptographically
  signing each email so that the recipient can check that it was indeed sent by you.
- if @app.dkim_enabled
  = button_to "Disable DKIM", toggle_dkim_app_path(@app), class: "btn btn-primary"
- else
  %p= link_to "Set up DKIM", dkim_app_path(@app)

%hr
%h3 Remove this App

%p
  Here lies danger. Removing the app from Cuttlefish will permanently delete the app, the associated emails and can not be undone!
%p
  = button_to "Remove App", @app, confirm: "Are you sure?", method: :delete, class: "btn btn-danger"
