.page-header
  %h1= @app.name

- if @app.cuttlefish?
  %p
    This is a special App that is used by Cuttlefish for sending its internal and test emails.

- else
  %h2 How to send mail via Cuttlefish for #{@app.name}

  %p
    Simple send smtp email in the normal way from your application with the following details
    %table.table.table-condensed
      %tr
        %td Host
        %td
          %strong= Rails.configuration.cuttlefish_domain
      %tr
        %td Port
        %td
          %strong= Rails.configuration.cuttlefish_smtp_port
      %tr
        %td Username
        %td
          %strong= @app.smtp_username
      %tr
        %td Password
        %td
          %strong= @app.smtp_password
      %tr
        %td Authentication
        %td
          %strong plain
  %p Specific instructions for different languages and frameworks coming soon.

%p
  So far #{@app.name} has sent #{pluralize(@app.emails.count, 'email')}.
%hr
%h3 Remove this App

%p
  Here lies danger. Removing the app from Cuttlefish is permanent and can not be undone!
%p
  = button_to "Remove App", @app, :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger"
