.page-header
  %h1= @app.name

- if @app.cuttlefish?
  %p
    This is a special App that is used by Cuttlefish when an unauthenticated email is sent or one if its own
    emails is sent.

- else
  %p= link_to "Edit", edit_app_path(@app)

  %h2 How to send mail via Cuttlefish for #{@app.name}

  %p
    Simple send smtp email in the normal way from your application with the following details
    %table.table.table-condensed
      %tr
        %td Host
        %td
          %strong= Rails.configuration.cuttlefish_domain
      %tr
        %td Port
        %td
          %strong= Rails.configuration.cuttlefish_smtp_port
      %tr
        %td Username
        %td
          %strong= @app.smtp_username
      %tr
        %td Password
        %td
          %strong= @app.smtp_password
      %tr
        %td Authentication
        %td
          %strong plain
  %p Specific instructions for different languages and frameworks coming soon.

%p
  So far #{@app.name} has sent #{pluralize(@app.emails.count, 'email')}.
- unless @app.cuttlefish?
  %hr
  %h3 Remove this App

  %p
    Here lies danger. Removing the app from Cuttlefish will permanently delete the app, the associated emails and can not be undone!
  %p
    = button_to "Remove App", @app, :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger"
