.page-header
  %h1= @app.name

- unless @app.default_app?
  = link_to "How to send mail via Cuttlefish for #{@app.name}", documentation_path(anchor: "app-#{@app.id}")

%h2 Settings
%p
  Name:
  = @app.name
%p
  URL:
  - if @app.url.blank?
    %span.muted Not set
  - else
    = link_to @app.url
%p
  Click tracking:
  - if @app.click_tracking_enabled?
    Enabled
  - else
    Disabled
%p
  Open tracking:
  - if @app.open_tracking_enabled?
    Enabled
  - else
    Disabled
%p
  Custom tracking domain:
  - if @app.custom_tracking_domain.blank?
    %span.muted Not set
  - else
    = @app.custom_tracking_domain

- if @app.default_app?
  %p
    This is a special App that is used by Cuttlefish when an unauthenticated email is sent or one if its own
    emails is sent. If you want to override any of the settings above, like for instance switching off open tracking or using a custom domain for the open tracking images, then you should
    = link_to "create a new App", new_app_path
    within Cuttlefish.

- else
  %p= link_to "Edit", edit_app_path(@app)

%hr
%h3 Improve delivery
%p
  DomainKeys Identified Mail (DKIM) improves the delivery of your emails by automatically cryptographically
  signing each email so that the recipient can check that it was indeed sent by you.
%p= link_to "Set up DKIM", dkim_app_path(@app)

- unless @app.default_app?
  %hr
  %h3 Remove this App

  %p
    Here lies danger. Removing the app from Cuttlefish will permanently delete the app, the associated emails and can not be undone!
  %p
    = button_to "Remove App", @app, confirm: "Are you sure?", method: :delete, class: "btn btn-danger"
