.page-header
  %h1= @app.description

%h2 How to send mail via Cuttlefish for #{@app.description}

%p
  Simple send smtp email in the normal way from your application with the following details
  %table.table.table-condensed
    %tr
      %td Host
      %td
        %strong= Rails.configuration.cuttlefish_domain
      %td
    %tr
      %td Port
      %td
        %strong= Rails.configuration.cuttlefish_smtp_port
      %td
    %tr
      %td Username
      %td
        %strong= @app.name
      %td
    %tr
      %td Password
      %td
        %strong= @app.smtp_password
      %td
        = button_to "Give me a new password", new_password_app_path(@app), class: "btn btn-mini btn-primary"

%p Specific instructions for different languages and frameworks coming soon.

%hr
%h3 Remove this App

%p
  Here lies danger. Removing the app from Cuttlefish is permanent and can not be undone!
%p
  = button_to "Remove App", @app, :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger"
