= paginated_section(emails, previous_label: image_tag("pager/previous.png"), next_label: image_tag("pager/next.png"), renderer: BootstrapLinkRenderer, class: "pagination pagination-centered pagination-small") do
  %table.table.table-striped
    %thead
      %tr
        %th From
        %th Created
        - if App.normal_apps?
          %th App
    %tbody(data-provides="rowlink")
      - emails.each do |email|
        %tr
          %td= email.from
          %td
            = link_to email_path(email), class: "rowlink" do
              = time_ago_in_words(email.created_at)
              ago
          - if App.normal_apps?
            %td= email.app.name

          %td
            = delivered_label(email.status)
            - if email.opened?
              %span.label.label-success Opened
            - if email.clicked?
              %span.label.label-success Clicked
