.page-header
  %h1 Recent emails

.filter-wrap
  .btn-group
    = link_to "All", emails_path, :class => ["btn", "btn-small", ("active" if @status.nil?)]
    = link_to "Delivered", emails_path(status: "delivered"), :class => ["btn", "btn-small", ("active" if @status == "delivered")]
    = link_to "Soft bounces", emails_path(status: "soft_bounce"), :class => ["btn", "btn-small", ("active" if @status == "soft_bounce")]
    = link_to "Hard bounces", emails_path(status: "hard_bounce"), :class => ["btn", "btn-small", ("active" if @status == "hard_bounce")]
    = link_to "Held back", emails_path(status: "not_sent"), :class => ["btn", "btn-small", ("active" if @status == "not_sent")]

= paginated_section(@emails, previous_label: image_tag("pager/previous.png"), next_label: image_tag("pager/next.png"), renderer: BootstrapLinkRenderer, :class => "pagination pagination-centered pagination-small")  do
  %table.table.table-striped
    %thead
      %tr
        %th To
        %th Created
    %tbody(data-provides="rowlink")
      - @emails.each do |email|
        %tr{class: bootstrap_status_class(email.status)}
          %td= link_to truncate(email.to_as_string, length: 50), email_path(email), :class => "rowlink"
          %td
            = time_ago_in_words(email.created_at)
            ago
