- model_class = Email
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:from_address_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @emails.each do |email|
      %tr
        %td= link_to email.id, email_path(email)
        %td= email.from_address_id
        %td=l email.created_at
