.page-header
  %h1 Recent emails
= paginated_section @emails do
  %ul.nav.nav-pills
    %li{class: ("active" if @delivered.nil?)}
      = link_to "All", emails_path
    %li{class: ("active" if @delivered == true)}
      = link_to "Delivered", emails_path(:delivered => true)
    %li{class: ("active" if @delivered == false)}
      = link_to "Not delivered", emails_path(:delivered => false)

  %table.table.table-striped
    %thead
      %tr
        %th To
        %th Created
    %tbody(data-provides="rowlink")
      - @emails.each do |email|
        %tr{class: delivered_class(email)}
          %td= link_to truncate(email.to_as_string, length: 50), email_path(email), :class => "rowlink"
          %td
            = time_ago_in_words(email.created_at)
            ago
