.page-header
  %h1 Email

%p
  %strong From:
  = link_to @email.from, emails_path(:from => @email.from)
%p
  %strong To:
  %ul
    - @email.deliveries.each do |delivery|
      %li
        = link_to delivery.address.text, emails_path(to: delivery.address.text)
        = delivered_label(delivery.delivered)

%hr
- if @email.data.nil?
  %em
    Full text of email is not available
- else
  %p
    = @email.data.gsub("\r\n", "<br\>").html_safe if @email.data
%hr
%p
  %strong Received:
  = time_ago_in_words(@email.created_at)
  ago (#{@email.created_at})

- unless @email.postfix_log_lines.empty?
  %table.table.table-condensed
    %caption Delivery Logs
    %thead
      %tr
        %th To
        %th DSN
        %th Status
    %tbody
      - @email.postfix_log_lines.each do |line|
        %tr
          %td= line.to
          %td= line.dsn
          %td.status{title: line.status}= truncate(line.status)

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), emails_path, :class => 'btn'
