- model_class = Email
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong From:
  = @email.from
%p
  %strong To:
  = @email.to_as_string
%p
  %strong Received:
  = @email.created_at
%hr
%p
  = @email.data.gsub("\r\n", "<br\>").html_safe if @email.data
%hr
%p
  %strong Postfix queue id:
  = @email.postfix_queue_id

- unless @email.postfix_log_lines.empty?
  %pre= @email.postfix_log_lines.map{|l| l.text}.join("\n")

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), emails_path, :class => 'btn'
