.page-header
  %h1 Email

%p
  %strong From:
  = link_to @email.from, emails_path(:from => @email.from)
%p
  %strong To:
  %ul
    - @email.deliveries.each do |delivery|
      %li
        = link_to delivery.address.text, emails_path(to: delivery.address.text)
        = link_to "#log-#{delivery.id}", "data-toggle" => "collapse" do
          = delivered_label(delivery.delivered)
        - unless delivery.postfix_log_lines.empty?
          .collapse{id: "log-#{delivery.id}"}
            %table.table.table-condensed.collapse
              %thead
                %tr
                  %th Time
                  %th DSN
                  %th Status
              %tbody
                - delivery.postfix_log_lines.each do |line|
                  %tr
                    %td
                      = time_ago_in_words(line.time)
                      ago
                    %td= line.dsn
                    %td.status= line.status

%hr
- if @email.data.nil?
  %em
    Full text of email is not available
- else
  - if @email.html_part
    %ul.nav.nav-pills
      %li.active= link_to "HTML", "#html", data: {toggle: "pill"}
      %li= link_to "Text", "#text", data: {toggle: "pill"}
      %li= link_to "Source", "#source", data: {toggle: "pill"}
    .tab-content
      %div.tab-pane.active#html
        .well= @email.html_part.html_safe
      %div.tab-pane#text
        %pre= @email.text_part
      %div.tab-pane#source
        %pre= @email.data
  - else
    %ul.nav.nav-pills
      %li.active= link_to "Text", "#text", data: {toggle: "pill"}
      %li= link_to "Source", "#source", data: {toggle: "pill"}
    .tab-content
      %div.tab-pane.active#text
        %pre= @email.text_part
      %div.tab-pane#source
        %pre= @email.data

%hr
%p
  %strong Received:
  = time_ago_in_words(@email.created_at)
  ago (#{@email.created_at})
%p
  %strong Message ID:
  = @email.message_id
%p
  %strong Content hash:
  = @email.data_hash

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), emails_path, :class => 'btn'
