- model_class = Email
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong From:
  = link_to @email.from, emails_path(:from => @email.from)
%p
  %strong To:
  = @email.to.map{|e| link_to e, emails_path(to: e)}.join(", ").html_safe
%hr
%p
  = @email.data.gsub("\r\n", "<br\>").html_safe if @email.data
%hr
%p
  %strong Received:
  = time_ago_in_words(@email.created_at)
  ago (#{@email.created_at})

- unless @email.postfix_log_lines.empty?
  %pre= @email.postfix_log_lines.map{|l| l.text}.join

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), emails_path, :class => 'btn'
