%table
  - if App.normal_apps?
    %tr
      %td
        %strong App
      %td= link_to @email.app.name, @email.app
  %tr
    %td
      %strong From
    %td= link_to @email.from, address_path(@email.from_address)
  %tr
    %td
      %strong To
    %td
      - if @email.deliveries.count == 1
        = render @email.deliveries.first
      - elsif @email.deliveries.count > 1
        %ul
          - @email.deliveries.each do |delivery|
            %li= render delivery
  %tr
    %td
      %strong Created
    %td
      = time_ago_in_words(@email.created_at)
      ago (#{@email.created_at})

%hr
- if @email.data.nil?
  %p
    %em
      Full text of email is not available.
      = link_to "Why?", "#why_help", "data-toggle" => "collapse"
  %p#why_help.collapse
    The full text of only the most recent #{EmailDataCache.max_no_emails_to_store_data} emails is stored. Keeping things around for ever is not good for privacy or disk space. It still gives
    you room to look at recent emails to figure our any problems if you need to.

- else
  %ul.nav.nav-pills
    - if @email.html_part && @email.text_part
      %li.active= link_to "HTML", "#html", data: {toggle: "pill"}
      %li= link_to "Text", "#text", data: {toggle: "pill"}
    - elsif @email.html_part
      %li.active= link_to "HTML", "#html", data: {toggle: "pill"}
    - else
      %li.active= link_to "Text", "#text", data: {toggle: "pill"}
    %li= link_to "Source", "#source", data: {toggle: "pill"}

  .tab-content
    - if @email.html_part && @email.text_part
      %div.tab-pane.active#html
        .well= @email.html_part.html_safe
      %div.tab-pane#text
        %pre= @email.text_part
    - elsif @email.html_part
      %div.tab-pane.active#html
        .well= @email.html_part.html_safe
    - else
      %div.tab-pane.active#text
        %pre= @email.text_part
    %div.tab-pane#source
      %pre= @email.data

.form-actions
  = link_to t('.back', default: t("helpers.links.back")), emails_path, class: 'btn'
