= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!

  .control-group
    = f.label :email
    = f.email_field :email, class: "login-field", placeholder: "Enter your email"
    %span.login-field-icon.fui-man-16

  = f.submit "Send me reset password instructions", class: "btn btn-primary btn-large btn-block"

= render partial: "devise/shared/links"
